# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. matplotlib
3. scikit-learn

| Data Science Tools |
|--------|
| RStudio |
| Jupyter Notebook |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

m = 200
h = 60

print(f'{m} minutes =')
print(f'{m/h} Hours')

200 minutes =
3.3333333333333335 Hours

## Author
Mr. Coder